.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #eee;
}

table.metrics th {
    text-align: center;
}

table.metrics .metrics-name {
    text-align: left;
}

table.metrics .metric-value {
    text-align: right;
}

table.metrics .metric-delta {
    text-align: right;
    font-size: 80%;
}

table.metrics .metric-improve {
    color: rgb(50, 200, 50);
}

table.metrics .metric-decrease {
    color: rgb(200, 50, 50);
}
