<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body role="document">

<div class="container theme-showcase" role="main">
    <div th:replace="fragments :: title"></div>
</div>

<div class="container" th:unless="${projectMetrics.empty}">
    <h1>Projects inspected by SonarQube</h1>
    <h4>
        Between
        <em th:text="${#dates.format(interval.start.toDate(), 'dd/MMM/yyyy HH:mm')}">2016-01-24T00:00</em>
        and
        <em th:text="${#dates.format(interval.end.toDate(), 'dd/MMM/yyyy HH:mm')}">2016-01-24T00:00</em>
    </h4>

    <table class="metrics table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th class="metrics-name"><span>Name</span></th>
            <th th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'ncloc')}" colspan="2">Lines of Code</th>
            <th th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'classes')}" colspan="2">Classes</th>
            <th th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'class_complexity')}" colspan="2">Complexity / Class</th>
            <th th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'violations')}" colspan="2">Violations</th>
            <th th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'coverage')}" colspan="2">Test Coverage</th>
            <th th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'test_execution_time')}" colspan="2">Test Execution Time</th>
            <th th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'skipped_tests')}" colspan="2">Skipped Tests</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="projectMetric : ${projectMetrics}">
            <td class="metrics-name">
                <a th:text="${projectMetric.getName(param.nameFilter)}" href="resource.html?key=key" th:href="@{/resource(key=${projectMetric.key}, days=14)}" th:unless="${param.containsKey('hide') and #arrays.contains(param.hide, 'resource-link')}">name</a>
                <span th:text="${projectMetric.getName(param.nameFilter)}" th:if="${param.containsKey('hide') and #arrays.contains(param.hide, 'resource-link')}">name</span>
            </td>

            <td class="metric-value" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'ncloc')}">
                <span th:text="${projectMetric.lines.formattedValue}">3,123</span>
            </td>
            <td class="metric-delta" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'ncloc')}">
                <span th:text="${projectMetric.lines.formattedDelta}"
                      th:classappend="${projectMetric.lines.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(-123)</span>
            </td>

            <td class="metric-value" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'classes')}">
                <span th:text="${projectMetric.classes.formattedValue}">23</span>
            </td>
            <td class="metric-delta" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'classes')}">
                <span th:text="${projectMetric.classes.formattedDelta}"
                      th:classappend="${projectMetric.classes.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(+3)</span>
            </td>

            <td class="metric-value" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'class_complexity')}">
                <span th:text="${projectMetric.classComplexity.formattedValue}">5.5</span>
            </td>
            <td class="metric-delta" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'class_complexity')}">
                <span th:text="${projectMetric.classComplexity.formattedDelta}"
                      th:classappend="${projectMetric.classComplexity.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(+0.5)</span>
            </td>

            <td class="metric-value" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'violations')}">
                <span th:text="${projectMetric.violations.formattedValue}">25</span>
            </td>
            <td class="metric-delta" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'violations')}">
                <span th:text="${projectMetric.violations.formattedDelta}"
                      th:classappend="${projectMetric.violations.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(-2)</span>
            </td>

            <td class="metric-value" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'coverage')}">
                <span th:text="${projectMetric.coverage.formattedValue}">25.5%</span>
            </td>
            <td class="metric-delta" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'coverage')}">
                <span th:text="${projectMetric.coverage.formattedDelta}"
                      th:classappend="${projectMetric.coverage.delta lt 0} ? 'metric-decrease' : 'metric-improve'">(+5.5)</span>
            </td>

            <td class="metric-value" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'test_execution_time')}">
                <span th:text="${projectMetric.testExecutionTime.formattedValue}">25s</span>
            </td>
            <td class="metric-delta" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'test_execution_time')}">
                <span th:text="${projectMetric.testExecutionTime.formattedDelta}"
                      th:classappend="${projectMetric.testExecutionTime.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(+5.5)</span>
            </td>

            <td class="metric-value" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'skipped_tests')}">
                <span th:text="${projectMetric.skippedTests.formattedValue}">0</span>
            </td>
            <td class="metric-delta" th:unless="${param.containsKey('suppress') and #arrays.contains(param.suppress, 'skipped_tests')}">
                <span th:text="${projectMetric.skippedTests.formattedDelta}"
                      th:classappend="${projectMetric.skippedTests.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(-3)</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
