<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body role="document">

<div class="container theme-showcase" role="main">
    <div th:replace="fragments :: title"></div>
</div>

<div class="container" th:unless="${projectMetrics.empty}">
    <h1>Projects inspected by SonarQube</h1>
    <h4>
        Between
        <em th:text="${#dates.format(interval.start.toDate(), 'dd/MMM/yyyy HH:mm')}">2016-01-24T00:00</em>
        and
        <em th:text="${#dates.format(interval.end.toDate(), 'dd/MMM/yyyy HH:mm')}">2016-01-24T00:00</em>
    </h4>

    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Lines of Code</th>
            <th colspan="2">Classes</th>
            <th colspan="2">Complexity / Class</th>
            <th colspan="2">Violations</th>
            <th colspan="2">Test Coverage</th>
            <th colspan="2">Test Execution Time</th>
            <th colspan="2">Skipped Tests</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="projectMetric : ${projectMetrics}">
            <td th:text="${projectMetric.name}"><a href="resource.html?key=key" th:href="@{/resource(key=${projectMetric.key}, days=14)}">name</a>
            </td>

            <td class="metric-value" th:text="${projectMetric.lines.formattedValue}">3,123</td>
            <td class="metric-delta" th:text="${projectMetric.lines.formattedDelta}"
                th:classappend="${projectMetric.lines.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(-123)
            </td>

            <td class="metric-value" th:text="${projectMetric.classes.formattedValue}">23</td>
            <td class="metric-delta" th:text="${projectMetric.classes.formattedDelta}"
                th:classappend="${projectMetric.classes.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(+3)
            </td>

            <td class="metric-value" th:text="${projectMetric.classComplexity.formattedValue}">5.5</td>
            <td class="metric-delta" th:text="${projectMetric.classComplexity.formattedDelta}"
                th:classappend="${projectMetric.classComplexity.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(+0.5)
            </td>

            <td class="metric-value" th:text="${projectMetric.violations.formattedValue}">25</td>
            <td class="metric-delta" th:text="${projectMetric.violations.formattedDelta}"
                th:classappend="${projectMetric.violations.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(-2)
            </td>

            <td class="metric-value" th:text="${projectMetric.coverage.formattedValue}">25.5%</td>
            <td class="metric-delta" th:text="${projectMetric.coverage.formattedDelta}"
                th:classappend="${projectMetric.coverage.delta lt 0} ? 'metric-decrease' : 'metric-improve'">(+5.5)
            </td>

            <td class="metric-value" th:text="${projectMetric.testExecutionTime.formattedValue}">25s</td>
            <td class="metric-delta" th:text="${projectMetric.testExecutionTime.formattedDelta}"
                th:classappend="${projectMetric.testExecutionTime.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(+5.5)
            </td>

            <td class="metric-value" th:text="${projectMetric.skippedTests.formattedValue}">0</td>
            <td class="metric-delta" th:text="${projectMetric.skippedTests.formattedDelta}"
                th:classappend="${projectMetric.skippedTests.delta gt 0} ? 'metric-decrease' : 'metric-improve'">(-3)
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
