<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <title>SonarQube Dashboard</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/sonardash.css"/>
</head>

<body role="document">

<div th:fragment="title" class="jumbotron" th:unless="${param.containsKey('hide') and #arrays.contains(param.hide, 'title')}">
    <div class="container">
        <h1>SonarQube Dashboard</h1>
        <p>All your metrics are belong to us!</p>
    </div>
</div>

<th:block th:fragment="footer">
    <script src="/webjars/jquery/2.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</th:block>

</body>
</html>
