<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body role="document">

<div class="container theme-showcase" role="main">
    <div th:replace="fragments :: title"></div>
</div>

<!--@thymesVar id="resource" type="sonardash.Resource"-->
<div class="container" th:if="${resource}">
    <h1 th:text="'Project ' + ${resource.name}">Project MyFavProject</h1>

    <h2 th:text="'Version ' + ${resource.version}">1.0.0-SNAPSHOT</h2>

    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>Metric</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="metric : ${resource.metrics}">
            <td th:text="${metric.definition}">metric</td>
            <td th:text="${metric.value}">1.0</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
