<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>

<body role="document">

<div class="container theme-showcase" role="main">
    <div th:replace="fragments :: title"></div>
</div>

<div class="container" th:unless="${projectMetrics.empty}">
    <h1>Projects inspected by SonarQube</h1>
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Lines of Code</th>
            <th colspan="2">Classes</th>
            <th colspan="2">Complexity / Class</th>
            <th colspan="2">Violations</th>
            <th colspan="2">Test Coverage</th>
            <th colspan="2">Test Execution Time</th>
            <th colspan="2">Skipped Tests</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="projectMetric : ${projectMetrics}">
            <td th:text="${projectMetric.name}">name</td>
            <td th:text="${#numbers.formatInteger(projectMetric.lines.value, 1, 'POINT')}">3,123</td>
            <td th:text="${#numbers.formatInteger(projectMetric.lines.delta, 1, 'POINT')}">-123</td>

            <td th:text="${#numbers.formatInteger(projectMetric.classes.value, 1, 'POINT')}">23</td>
            <td th:text="${#numbers.formatInteger(projectMetric.classes.delta, 1, 'POINT')}">+3</td>

            <td th:text="${#numbers.formatDecimal(projectMetric.classComplexity.value, 1, 1)}">5.5</td>
            <td th:text="${#numbers.formatDecimal(projectMetric.classComplexity.delta, 1, 1)}">+0.5</td>

            <td th:text="${#numbers.formatInteger(projectMetric.violations.value, 1, 'POINT')}">25</td>
            <td th:text="${#numbers.formatInteger(projectMetric.violations.delta, 1, 'POINT')}">-2</td>

            <td th:text="${#numbers.formatDecimal(projectMetric.coverage.value, 1, 1) + '%'}">25.5%</td>
            <td th:text="${#numbers.formatDecimal(projectMetric.coverage.delta, 1, 1)}">+5.5</td>

            <td th:text="${#numbers.formatDecimal(projectMetric.testExecutionTime.value / 1000, 1, 1) + 's'}">25s</td>
            <td th:text="${#numbers.formatDecimal(projectMetric.testExecutionTime.delta / 1000, 1, 1)}">+5.5</td>

            <td th:text="${#numbers.formatInteger(projectMetric.skippedTests.value, 1, 'POINT')}">0</td>
            <td th:text="${#numbers.formatInteger(projectMetric.skippedTests.delta, 1, 'POINT')}">-3</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>
